# G005 Backend v3.0.1
DATABASE_URL="postgresql://g005:g005@localhost:5432/g005?schema=public"
JWT_SECRET="g005-dev-secret-change-in-prod"
PORT=3001
LOG_LEVEL=info
NODE_ENV=development
CORS_ORIGINS="http://localhost:5191,http://localhost:4173"
